---
// Import necessary meta tags and styles to be used across
// all pages through the use of the <BaseHead /> component.
import { SITE } from '@/consts';
import '@styles/global.css';

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, image } = Astro.props;

// Use the props if provided, otherwise fall back to the SITE constants
const pageTitle = title || SITE.TITLE;
const pageDescription = description || SITE.DESCRIPTION;
const pageImage = image ? new URL(image, Astro.site).href : new URL(SITE.OG_IMAGE, Astro.site).href;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={pageDescription} />
<meta name="keywords" content={SITE.KEYWORDS} />
<meta name="theme-color" content={SITE.PRIMARY_COLOR} />
<meta name="apple-mobile-web-app-status-bar-style" content={SITE.PRIMARY_COLOR} />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta name="color-scheme" content="light dark" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={pageDescription} />
<meta property="og:image" content={pageImage} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={pageTitle} />
<meta property="twitter:description" content={pageDescription} />
<meta property="twitter:image" content={pageImage} />
